<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
 {% include 'scrooge/includes/navbar.html' %}

{% if messages %}
    {% for message in messages %}
        <script> M.toast({html: "{{message}}", classes: 'red rounded', displayLength:3000}); </script>
    {% endfor %}
{% endif %}

    <div class='container'>
        <div class='container'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

{# This html is a base for all other html pages (other extend it). It contains stylesheets, materialize JS and messages #}