{% extends 'scrooge/header.html' %}
{# This is a page with Item forms. All forms are present at all times, but only the visible ones are set as 'required' #}

{% block content %}

<script>
function makeThemRequired(form_elements){
    for (i = 1; i < 8; i+=2) form_elements[i].required=true;
}

window.addEventListener('DOMContentLoaded', function() {
    var form1 = document.getElementById('form1');
    form1.style.display="block";
    makeThemRequired(form1.children);

    var elems = document.querySelectorAll('.tap-target');
    var instances = M.TapTarget.init(elems);
})

function add_form(element){
    form_to_add_id = element.id.split("_")[1];
    var form_to_add = document.getElementById(form_to_add_id);
    form_to_add.style.display = "block";
    makeThemRequired(form_to_add.children);
    document.getElementById(element.id).style.display = "none";
}

function open_close_help(){
var elems = document.querySelectorAll('.tap-target');
elems[0].M_TapTarget.open();
}
</script>

<form method="POST">
    <br>
    {% csrf_token %}

    {% for form in form_list %}
        <div id="form{{ forloop.counter }}" style="display:none">
        {{ form }}
        <br>
        {% if forloop.counter != 5 %}
        <button id="add_form{{ forloop.counter|add:'1' }}" class="btn btn-outline-info" onclick="add_form(this)">Dodaj przedmiot</button>
        {% endif %}
        <br><br><br>
    </div>
    {% endfor %}

    <button class="btn btn-outline-info" type="submit">Wyślij zapytanie</button>
</form>

{# Following piece of html is Materialize FeatureDiscovery #}

<div class="fixed-action-btn direction-top">
    <a id="menu" class="waves-effect waves-light btn-large btn-floating" onclick="open_close_help()">
        <i class="material-icons">help_outline</i>
    </a>
</div>

  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Witaj!</h5>
      <p>Jeśli wpiszesz jakieś farmazony to po prostu aplikacja nie weźmie tego pod uwagę. 
      Jeśli wpiszesz coś po norwesku to pewnie też nie weźmie pod uwagę... Przepraszamy</p>
    </div>
  </div>

{% endblock %}
