{% extends 'scrooge/header.html' %}
{# Loading page. Displays MaterialDesign loading circle and also makes request to the /check_output/ periodically to see if processing finished #}

{% block content %}

<style>
.centering-container{
    text-align: center;
}
</style>

<br><br><br><br>

<div class='centering-container'>
    <div class='container'>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    </div>
</div>

<p id='processing_task_id' style='display:none'>{{ task_id }}</p>

<script>
async function check_if_results_are_ready(){
    var id = document.getElementById('processing_task_id').innerHTML;
    const response = await fetch('/check_output/' + id);
    if (response.status == 204) {
        console.log('Still processing...');
    } else if (response.status == 200) {
        window.location.href = '/output/' + id;
    } else if (response.status == 500) {
        console.log('Processing ended in an error');
        window.location.href = '/make_a_request/' 
    } else {
        console.log('ERROR: Unexpected Status Code');
    }
}

var interval = setInterval(check_if_results_are_ready, 4000);
</script>

{% endblock content %}