{% extends 'scrooge/header.html' %}
{# Output page. Dynamically renders Materialize Collapsible with Materialize Cards inside of them for every result #}

{% block content %}
    <script>
        function return_to_homepage() {
            window.location.href = '/make_a_request/'
        }
    </script>

    <br><br>
    <ul class="collapsible">
        {# Checking if itemX is present in context. If so then results associated with it are rendered #}
        {% if item0 %}
            <li>
                <div class="collapsible-header">{{ item0.name }}</div>
                <div class="collapsible-body"><span>
                <div class="row">
                    {# If item0 is present then item0_results also has to be present in context so no need to check for its presence #}
                    {% for result in item0_results %}
                        {# Each result will be rendered as a separate Materialize Card containing the data #}
                        <div class="col m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Oferta od: {{ result.4 }}</span>
                                        <p>Cena produktu: {{ result.0 }}</p>
                                        <p>Liczba przedmiotów: {{ item0.quantity }}</p>
                                        <p>Koszt dostawy: {{ result.1 }}</p>
                                        <p>Całkowity koszt: {{ result.3 }}</p>
                                </div>
                                <div class="card-action">
                                <a href={{result.2}}>Idź do sklepu</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                </span></div>
            </li>
        {% endif %}

        {% if item1 %}
            <li>
                <div class="collapsible-header">{{ item1.name }}</div>
                <div class="collapsible-body"><span>
                <div class="row">
                    {% for result in item1_results %}
                        <div class="col m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Oferta od: {{ result.4 }}</span>
                                        <p>Cena produktu: {{ result.0 }}</p>
                                        <p>Liczba przedmiotów: {{ item1.quantity }}</p>
                                        <p>Koszt dostawy: {{ result.1 }}</p>
                                        <p>Całkowity koszt: {{ result.3 }}</p>
                                </div>
                                <div class="card-action">
                                <a href={{result.2}}>Idź do sklepu</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                </span></div>
            </li>
        {% endif %}

        {% if item2 %}
            <li>
                <div class="collapsible-header">{{ item2.name }}</div>
                <div class="collapsible-body"><span>
                <div class="row">
                    {% for result in item2_results %}
                        <div class="col m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Oferta od: {{ result.4 }}</span>
                                        <p>Cena produktu: {{ result.0 }}</p>
                                        <p>Liczba przedmiotów: {{ item2.quantity }}</p>
                                        <p>Koszt dostawy: {{ result.1 }}</p>
                                        <p>Całkowity koszt: {{ result.3 }}</p>
                                </div>
                                <div class="card-action">
                                <a href={{result.2}}>Idź do sklepu</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                </span></div>
            </li>
        {% endif %}

        {% if item3 %}
            <li>
                <div class="collapsible-header">{{ item3.name }}</div>
                <div class="collapsible-body"><span>
                <div class="row">
                    {% for result in item3_results %}
                        <div class="col m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Oferta od: {{ result.4 }}</span>
                                        <p>Cena produktu: {{ result.0 }}</p>
                                        <p>Liczba przedmiotów: {{ item3.quantity }}</p>
                                        <p>Koszt dostawy: {{ result.1 }}</p>
                                        <p>Całkowity koszt: {{ result.3 }}</p>
                                </div>
                                <div class="card-action">
                                <a href={{result.2}}>Idź do sklepu</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                </span></div>
            </li>
        {% endif %}

        {% if item4 %}
            <li>
                <div class="collapsible-header">{{ item4.name }}</div>
                <div class="collapsible-body"><span>
                <div class="row">
                    {% for result in item4_results %}
                        <div class="col m4">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">Oferta od: {{ result.4 }}</span>
                                        <p>Cena produktu: {{ result.0 }}</p>
                                        <p>Liczba przedmiotów: {{ item4.quantity }}</p>
                                        <p>Koszt dostawy: {{ result.1 }}</p>
                                        <p>Całkowity koszt: {{ result.3 }}</p>
                                </div>
                                <div class="card-action">
                                <a href={{result.2}}>Idź do sklepu</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                </span></div>
            </li>
        {% endif %}
    </ul>

    <button class="btn btn-outline-info" onclick="return_to_homepage()">Szukaj innych przedmiotów</button>

{# Script below initializes Materialize content and  #}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
        var elems_tap = document.querySelectorAll('.tap-target');
        var instances_tap = M.TapTarget.init(elems_tap);
    });

    function next_help(){
        p = document.getElementById('help_text');
        document.getElementById('next_help_button').style.display='none';
        p.innerHTML = 'Zwróć uwagę, że jeśli nie zostały odnalezione dane dostawy to przedmiot został pominięty.';
    }

    function open_close_help(){
        var elems = document.querySelectorAll('.tap-target');
        elems[0].M_TapTarget.open();
    }

</script>

{# Following piece of html is just Materialize FeatureDiscovery #}
<div class="fixed-action-btn direction-top">
    <a id="menu" class="waves-effect waves-light btn-large btn-floating" onclick="open_close_help()">
        <i class="material-icons">help_outline</i>
    </a>
</div>

  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5 style='margin-left: 20px;'>Intepretacja</h5>
      <p id='help_text'>Jeśli mówisz po norwesku lub po prostu nie było takiego przedmiotu na Skapiec.pl to wyświetli się pusty wynik, lub przedmiot ten zostanie
      pominięty.</p>
      <p><button id='next_help_button' class="btn btn-outline-info" onclick="next_help()">Dalej</button></p>
    </div>
  </div>
{% endblock content %}
