    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Skąpiradło</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
        </div>
    </nav>
    {# This small html is responsible for creating navbar -> pinkish bar with 'Skąpiradło' text #}